set default="0"
if keystatus --shift; then
    set timeout=1
    background_image /grub/black.png
else
    set timeout=0
fi

serial --unit=0 --speed=115200
terminal_output --append serial
terminal_input --append serial

insmod part_gpt
insmod fat
insmod chain

search --no-floppy --file --set=root /efi/OpenXT/xen.efi

menuentry "OpenXT TrenchBoot Secure Launch" {
    # Measure binaries into PCR 4/8 before slaunch messes with TPM state
    shim_measure 8 /EFI/OpenXT/openxt.cfg
    shim_measure 8 /EFI/OpenXT/initrd
    shim_measure 8 /EFI/OpenXT/policy.24
    shim_measure 8 /EFI/OpenXT/microcode_intel.bin
    shim_measure 8 /EFI/OpenXT/SKL_KBL_AML_SINIT_20211019_PRODUCTION_REL_NT_O1_1.10.0.bin
    shim_measure 8 /EFI/OpenXT/LNC_SINIT_REL_NT_O1.PW_signed.bin
    shim_measure 8 /EFI/OpenXT/ADL_SINIT_v1_18_18_20240523_REL_NT_O1.PW_signed.bin
    shim_measure 8 /EFI/OpenXT/MTL_SINIT_REL_NT_O1.PW_signed.bin
    shim_measure 8 /EFI/OpenXT/CFL_SINIT_20221220_PRODUCTION_REL_NT_O1_1.10.1_signed.bin
    shim_measure 8 /EFI/OpenXT/TGL_SINIT_v1_14_46_20220819_REL_NT_O1.PW_signed.bin
    shim_measure 8 /EFI/OpenXT/RKLS_SINIT_v1_14_46_20220819_REL_NT_O1.PW_signed.bin
    shim_measure 8 /EFI/OpenXT/CMLSTGP_SINIT_v1_14_46_20220819_REL_NT_O1.PW_signed.bin
    shim_measure 8 /EFI/OpenXT/CML_S_SINIT_1_13_33_REL_NT_O1.PW_signed.bin
    shim_measure 4 /EFI/OpenXT/xen.efi
    shim_measure 4 /EFI/OpenXT/bzImage

    slaunch
    slaunch_module /EFI/OpenXT/SKL_KBL_AML_SINIT_20211019_PRODUCTION_REL_NT_O1_1.10.0.bin
    slaunch_module /EFI/OpenXT/LNC_SINIT_REL_NT_O1.PW_signed.bin
    slaunch_module /EFI/OpenXT/ADL_SINIT_v1_18_18_20240523_REL_NT_O1.PW_signed.bin
    slaunch_module /EFI/OpenXT/MTL_SINIT_REL_NT_O1.PW_signed.bin
    slaunch_module /EFI/OpenXT/CFL_SINIT_20221220_PRODUCTION_REL_NT_O1_1.10.1_signed.bin
    slaunch_module /EFI/OpenXT/TGL_SINIT_v1_14_46_20220819_REL_NT_O1.PW_signed.bin
    slaunch_module /EFI/OpenXT/RKLS_SINIT_v1_14_46_20220819_REL_NT_O1.PW_signed.bin
    slaunch_module /EFI/OpenXT/CMLSTGP_SINIT_v1_14_46_20220819_REL_NT_O1.PW_signed.bin
    slaunch_module /EFI/OpenXT/CML_S_SINIT_1_13_33_REL_NT_O1.PW_signed.bin

    # Load into our patched xen to initiate slaunch and then boot
    chainloader /EFI/OpenXT/xen.efi
    boot
}
